@font-face {
	font-family: 'Bit Cell';
	src: url(../../assets/fonts/Bit%20Cell-38e04f1f908eafdd58f805d1aa4a2055.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}