@font-face {
	font-family: 'Upheaval Pro';
	src: url(../../assets/fonts/Upheaval%20Pro-bfc2d254b7446e5f5912fef90d91aa4e.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}